.footer-index {
    background-color: #332B47;
    padding-bottom: 8px;
  }
  .links-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    flex-wrap: wrap;
  }
  .links-footer-1, .links-footer-2, .links-footer-3 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  .links-footer-1 a {
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .links-footer-2 a {
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .links-footer-3 a{
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .links-footer h4 {
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .container-copyright {
    display: flex;
    justify-content: center;
  }
  .text-copyright {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

