.container-texts-help {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 920px;
  padding: 20px;
  margin: 0 auto;
}
.container-texts-help h2 {
  font-size: 3.4rem;
  color: #FFC900;
}
.container-texts-help p {
  font-size: 1.3rem;
  color: #1C274C;
  font-weight: 300;
}
.container-cards-help {
  margin: 60px auto;
  display: flex;
  max-width: 1280px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px 25px;
}
.card-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-help img {
  max-width: 200px;
}
.card-help span{
  margin-top: -30px;
  max-width: 300px;
  font-size: 18px;
  font-weight: 300;
}
.container-button-help{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.button-help {
  border-radius: 15px;
  background: #FFC900;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.4rem;
  color: #1C274C; 
}